# Expo
.expo/
.expo-shared/
node_modules/
npm-debug.log
yarn-error.log

# Metro
.metro-health-check*

# macOS
.DS_Store
*.pem

# Bundle artifacts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# IDE
.vscode/
.idea/

# TypeScript
*.tsbuildinfo

# Local env files
.env*.local


